extends layout

block content
    .container
        .movie-container
            .poster-wrapper
                .img-container
                    img.poster
            .overview-wrapper
                h1.title
                p.overview
                button.next-button Next
