*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(255, 1, 65) 0%, rgb(212, 0, 53) 50%, rgb(181, 0, 45) 100%);
}

h1 {
    font-size: 82px;
}

p {
    font-size: 32px;
}

.movie-container {
    border: 1px solid black;
    width: 90vw;
    margin: 0 auto;
    margin: 100px;
    padding: 0 100px;
    display: flex;
}

.movie-container>* {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overview-wrapper {
    padding: 100px;
}
button {
  border: 0;
  padding: 10px;
}
