@import url(https://fonts.googleapis.com/css?family=Righteous|Lato);
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-content {
    font-family: Righteous;
    margin: 50px;
    padding: 50px;
    background: linear-gradient(45deg, #999, #4e4e4e);
    border-radius: 18px;
    height: 378px;
}

.movie-container {
    display: flex;
}

.movie-container img {
    max-width: 185px;
    max-height: 280px;
}

.meta {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meta>* {
    margin: 0;
}

.meta h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.meta p {
    color: #fff;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button-group button {
    font-family: 'Lato';
    font-size: 16px;
    padding: 6px 26px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
}

.button-group button#already-seen:hover, .button-group button#not-interested:hover {
    background-color: rgba(200, 200, 200, 0.3);
    transform: scale(1.2, 1.2);
}

.button-group button#already-seen {
    background-color: #7ab849;
}

.button-group button#not-interested {
    background-color: #f29985;
}
